<div id="user-slide-show-panel"></div>

<%= javascript_tag do %>
  $(function () {
    var load_slide = function () {
      $.ajax('<%= random_slide_users_path %>', {
        success: function (data, status, xhr) {
          $("#user-slide-show-panel").html(data);
        },
        error: function (xhr, status, err) {
          // Presently, it's a no-op.
        },
        complete: function (xhr, status) {
          window.setTimeout(load_slide, 30000);
        }
      });
    };
    load_slide();
  });
<% end %>
