<section class="left">
  <article class="user">
    <h1>Eugene Or</h1>
    <p>UI Designer</p>
  </article>
  <article class="badge-count">
    <h2>10 Total <span>Not bad!</span></h2>
  </article>
  <article class="badge-breakdown">
    <ul>
      <li>1 Gold</li>
      <li>3 Silver</li>
      <li>6 Bronze</li>
    </ul>
  </article>
</section>
<section class="right">
  <article class="latest-badge-details">
    <h2>
      Tu quoque, Brute, fili mi, nihil timor populi, nihil!
    </h2>
    <div class="latest-badge"></div>
    <h3>Clean Kitchen King</h3>
    <p>Awarded by Jason LaRiviere</p>
    <p>Feb 31, 2014</p>
  </article>
  <article class="earned-badges">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </article>
</section>