<h3>Slide show data for user <%= user.name %></h3>
<div class="row">
  <div class="columns large-4">
    <h1>Eugene Or</h1>
    <p>UI Designer</p>
    <h2>10 Total <span>Not bad!</span></h2>
    <ul>
      <li>1 Gold</li>
      <li>3 Silver</li>
      <li>6 Bronze</li>
    </ul>
  </div>
  <div class="columns large-8">
    <h2>
      Tu quoque, Brute, fili mi, nihil timor populi, nihil!
    </h2>
    <h3>Clean Kitchen King</h3>
    <p>Awarded by Jason LaRiviere</p>
    <p>Feb 31, 2014</p>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </div>
</div>
