/*--------------------------------------------------
* Util
*--------------------------------------------------*/

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0px;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.margin-center {
  margin: 0 auto;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-right {
  text-align: right;
}

/*--------------------------------------------------
* Header
*--------------------------------------------------*/

#login-header {
  padding: 30px;
}

/*--------------------------------------------------
* Slideshow
*--------------------------------------------------*/

.public-dash {
  .commentor {
    margin-right: 20px;
  }
  ul {
    margin: 0;
    list-style: none;
    .badge {
      display: inline-block;
      width: 150px;
      height: 150px;
      background-color: #aaa;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  .latest-badge-image {
    width: 200px;
    height: 200px;
    background-color: #ddd;
  }
  .avatar {
    width: 250px;
    height: 250px;
    background-color: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .left,
  .right {
    border-right: solid 1px #ccc;
  }
  .user,
  .badge-total,
  .latest-badge {
    border-bottom: solid 1px #ccc;
  }
}

/*--------------------------------------------------
* Profile
*--------------------------------------------------*/

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 65px 0;

  .avatar {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;

    @media only screen and (min-width: 999px) {
      min-height: 180px;
      min-width: 180px;
    }
  }
  .badge-small {
    padding: 3px 3px 0 0;
  }
}

/*--------------------------------------------------
* Forms
*--------------------------------------------------*/

.chosen-container {
  margin-bottom: 1rem;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 1.75rem;
}