/*--------------------------------------------------
* Util
*--------------------------------------------------*/

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.block {
  display: block;
}
.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0px;
  visibility: hidden;
}
.clearfix {
  clear: both;
}
.margin-center {
  margin: 0 auto;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-right {
  text-align: right;
}

/*--------------------------------------------------
* Header
*--------------------------------------------------*/

#login-header {
  padding: 30px;
}

/*--------------------------------------------------
* Slideshow
*--------------------------------------------------*/

.public-dash {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  ul {
    margin: 0;
    list-style: none;
  }
  .avatar {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
    background-color: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .left {
    width: 25%;
    border-right: solid 1px #ccc;
  }
  .right {
    width: 75%;
  }
  .user,
  .badge-total,
  .badge-breakdown,
  .badge-count,
  .latest-badge,
  .received-badges {
    padding: 20px;
  }
  .user,
  .badge-count,
  .latest-badge {
    border-bottom: solid 1px #ccc;
  }
  .user {
    height: 500px;
    .name {
      font-size: 40px;
      margin-bottom: 20px;
    }
    .title {
      font-size: 25px;
    }
  }
  .badge-count {
    h2 {
      font-size: 30px;
    }
    .total {
      font-size: 60px;
      vertical-align: middle;
    }
    .message {
      font-weight: bold;
    }
  }
  .badge-breakdown {
    li {
      font-size: 30px;
    }
  }
  .badge {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #aaa;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .latest-badge {
    height: 500px;
    h2 {
      margin-bottom: 40px;
    }
  }
  .latest-badge-image {
    width: 200px;
    height: 200px;
    background-color: #ddd;
  }
  .commentor {
    margin-right: 20px;
    .badge-name {
      font-size: 30px;
    }
    .awarded-by {
      font-size: 20px;
    }
    .awarded-on {
      font-size: 15px;
    }
  }
}

/*--------------------------------------------------
* Profile
*--------------------------------------------------*/

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 65px 0;

  .avatar {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;

    @media only screen and (min-width: 999px) {
      min-height: 180px;
      min-width: 180px;
    }
  }
  .badge-small {
    padding: 3px 3px 0 0;
  }
}

.award_badge_container {
  margin: 50px auto; 
}

.award_badge_table {
  width:100%;
  border: 0px;
  border-spacing: 0;

  thead{
    background-color: #fff;
  }

  td, th {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
  }
}

/*--------------------------------------------------
* Forms
*--------------------------------------------------*/

.chosen-container {
  margin-bottom: 1rem;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 1.75rem;
}
